path.line {
  stroke: #000;
  stroke-width: 2px;
  fill: none;
}

path.area {
  fill: palette(grey, 70);
  opacity: 0.2;
}

rect {
  &.clip {
    transition-duration: 0.3s;
  }
}

.graphic-element {
  opacity: 1;
}

line {
  &.axis {
    stroke: palette(grey, 70);
    stroke-width: 1px;
  }

  &.tick {
    stroke: palette(grey, 70);
    stroke-width: 1px;
  }

  &.horizontalLine {
    stroke: $color-red;
    stroke-width: 1px;
  }

  &.verticalLine {
    stroke: $color-red;
    stroke-width: 1px;
  }

  &.legend {
    stroke: palette(grey, 20);
    stroke-width: 2px;
  }
}

line, path {
  transition-duration: 0.3s;

  &.NDC {
    stroke: $color-violet;
  }

  &.eff {
    stroke: $color-yellow;
  }

  &.goodpractice {
    stroke: $color-green;
  }

  &.netzero {
    stroke: $color-blue;
  }

  &.historic {
    stroke: $color-dark-gray;
  }

  &.hasHighlight {
    opacity: 0.2;
  }
}

g {
  transition-duration: 0.3s;

  &.isNotVisible {
    opacity: 0;
  }

  &.isVisible {
    opacity: 1;
  }

  &.horizontalLine {
    opacity: 0;

    &.isVisible {
      opacity: 1;
    }
  }
}

text {
  &.tick {
    fill: palette(grey, 50);
    font-weight: $font-weight-bold;
    font-size: $size-small;
  }

  &.area {
    fill: palette(accent, 0);
  }

  &.marker {
    fill: palette(grey, 0);
    font-weight: $font-weight-bold;
    font-size: $size-default;
  }

  &.axis {
    fill: palette(grey, 20);
    font-weight: $font-weight-bold;
    font-size: $size-small;
  }

  &.dot {
    fill: palette(grey, 0);
    font-weight: $font-weight-bold;
    letter-spacing: $spacing-wide;
    font-size: $size-default;
  }
}

circle {
  transition-duration: 0.3s;

  &.marker {
    stroke: $color-red;
    fill: none;
    stroke-width: 2px;
  }

  &.dot {
    // stroke: darken($color-red, 10);
    fill: $color-red;
    stroke-width: 1px;
  }
}