h1 {
  font-size: $size-bigger;
  line-height: 1.1;
  margin-bottom: $spacing;

  &.intro {
    font-size: 2.5rem;

    @include media-query($on-tablet-landscape) {
      & {
        font-size: 3rem;
      }
    }

    @include media-query($on-laptop) {
      & {
        font-size: 3.5rem;
      }
    }

    @include media-query($on-desktop) {
      & {
        font-size: 4rem;
        width: 80%;
      }
    }
  }
}

p {
  font-size: $size-big;
  margin-bottom: 0.7em;
}

span {
  &.ndc {
    border-bottom: 2px solid $color-violet;
  }

  &.eff {
    border-bottom: 2px solid $color-yellow;
  }

  &.gp {
    border-bottom: 2px solid $color-green;
  }

  &.nz {
    border-bottom: 2px solid $color-blue;
  }

  &.info {
    border-bottom: 1px dotted $color-violet;
  }
}

tr td {
  font-size: $size-default;
}

tr th, tr td:first-child {
  font-size: $size-small;
}

tr td {
  padding: $spacing / 4;
  border: 2px solid #fff;
  background-color: $color-bg-light;
  text-align: center;
  vertical-align: center;

  &:first-child {
    background-color: #fff;
  }

  &.active {
    border-color: yellow;
  }
}