p, button.inline {
  font-size: $size-big;
  line-height: 1.6;
  margin-bottom: 0.2em;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  line-height: 0;
}

sub {
  top: 0.4em;
}

.tabs {
  font-size: $size-small;
  line-height: 1.2;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .tab {
    text-align: center;
    padding: 0 $spacing / 4 $spacing / 4;
    color: getColor(gray, 50);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    img {
      align-self: center;
      max-height: 1.5rem;
      opacity: 0.6;
    }

    &.tab--active, &:hover, &:focus {
      color: getColor(gray, 0);

      img {
        opacity: 1;
      }
    }

    &.tab--disabled {
      cursor: default;
      border-bottom: none;
      margin-bottom: 0;
      color: getColor(gray, 70);
      pointer-events: none;

      img {
        opacity: 0.2;
      }
    }

    &.tab--active {
      cursor: default;
      border-bottom: 2px solid $color-neon;
      margin-bottom: -2px;
      height: calc(100% + 2px);
    }
  }
}

article, .intro {
  a {
    color: $color-neon;
    text-decoration: underline;
    background: none;

    &.bold {
      text-decoration: underline;
      font-weight: $font-weight-bold;
    }

    &:hover, &:focus {
      color: getColor(neon, 40);
      background: none;
      text-decoration: underline;
    }
  }
}

@keyframes highlight {
  0% {
    color: getColor(gray, 50);
  }
  50% {
    color: getColor(gray, 0);
  }
  100% {
    color: getColor(gray, 50);
  }
}

span {
  &.info {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: $color-neon;
    white-space: nowrap;
  }

  &.ndc {
    border-bottom: 2px solid #b7005e;
  }

  &.eff {
    border-bottom: 2px solid #feae00;
  }

  &.gp {
    border-bottom: 2px solid #d4584e;
  }

  &.nz {
    border-bottom: 2px solid #e67c3e;
  }
}
