hgroup {
  text-align: center;
}

h1 {
  font-size: $size-biggest;
  width: 80%;
  line-height: 1.1;
  margin-bottom: $spacing;

  &.intro {
    font-size: 4rem;
  }
}

p {
  font-size: $size-big;
}

span {
  &.ndc {
    border-bottom: 2px solid $color-violet;
  }

  &.cep {
    border-bottom: 2px solid $color-yellow;
  }

  &.gp {
    border-bottom: 2px solid $color-green;
  }

  &.nz {
    border-bottom: 2px solid $color-blue;
  }
}

tr td {
  font-size: $size-default;
}

tr th, tr td:first-child {
  font-size: $size-small;
}

tr td {
  padding: $spacing / 4;
  border: 2px solid #fff;
  background-color: $color-bg-light;
  text-align: center;
  vertical-align: center;

  &:first-child {
    background-color: #fff;
  }

  &.active {
    border-color: yellow;
  }
}